*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --tb-header: #3161e0;
    --tb-light: #ffffff;
    --tb-footer: #23272a;
}

body{
    font-family: 'Itim', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Unbounded', cursive;
}



/* #region Header */
.link_header{
    height: 50px;
    background-color: var(--tb-header);
    display: flex;
}

.banner_link{
    background-color: yellow;
    align-items:center;
    margin: auto;
    width: 70%;
    height: 20px;
    display: flex;
}

.logo{
    background-color: orange;
    width: 10%;
    height: 100%;
    justify-content:flex-start;
}

.link{
    background-color: green;
    width: 80%;
    height: 100%;
    justify-content: center;
}

.login{
    background-color: red;
    width: 10%;
    height: 100%;
    justify-content: end;
}

.container_header {
    height: 250px;
    background-color: var(--tb-header);
    display: flex;
}

.text_header {
    margin: auto;
    height: 200px;  
    width: 50%;
    background-color: gray;
    border-radius: 10px;
}

/* #endregion Header */

/*  */
.section_banner {
    height: 300px;
    background-color: orange;
    display: flex;
}

.container_banner{
    margin: auto;
    height: 200px;  
    width: 55%;
    background-color: aqua;
    display: flex;

}

.image_banner{
    width: 65%;
    height: 100%;
    background-color: beige;
}

.text_banner{
    width: 35%;
    height: 100%;
    background-color: rgb(62, 17, 104);
}