*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --tb-header: #3161e0;
    --tb-light: #ffffff;
    --tb-footer: #23272a;
}

body{
    font-family: 'Itim', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Unbounded', cursive;
}



/* #region Header */
.link_header{
    height: 50px;
    background-color: var(--tb-header);
    display: flex;
}

.banner_link{
    background-color: yellow;
    align-items:center;
    margin: auto;
    width: 70%;
    height: 20px;
    display: flex;
}

.logo{
    background-color: orange;
    width: 10%;
    height: 100%;
    justify-content:flex-start;
}

.link{
    background-color: green;
    width: 80%;
    height: 100%;
    justify-content: center;
}

.login{
    background-color: red;
    width: 10%;
    height: 100%;
    justify-content: end;
}

.container_header {
    height: 250px;
    background-color: var(--tb-header);
    display: flex;
}

.text_header {
    margin: auto;
    height: 200px;  
    width: 50%;
    background-color: gray;
    border-radius: 10px;
}

/* #endregion Header */

/* #region section banner */
.section_banner {
    height: 300px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content:center;
}

.container_banner{
    height: 200px;  
    width: 55%;
    background-color: aqua;
    display: flex;
 

}

.image_banner{
    width: 65%;
    height: 100%;
    background-color: beige;
}

.text_banner{
    width: 35%;
    height: 100%;
    background-color: rgb(62, 17, 104);
}
/* #endregion section banner */

/* #region section main end */
.main_end{
    background-color: antiquewhite;
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
}

.container-main_end{
    background-color: #3161e0;
    height: 450px;  
    width: 55%;
}
/* #endregion section main end */

/* #region columns footer */
.container_footer {
    background-color: var(--tb-footer);
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;

}

.columns{
    background-color: aqua;
    height: 200px;  
    width: 55%;
    display: flex;
}

.col1 {
    background-color: orange;
    width: 40%;
    height: 100%;
    border: 1px solid black;
}

.col2 {
    background-color: green;
    width: 15%;
    height: 100%;
    border: 1px solid black;
}
/* #endregion columns footer */

/* #region banner footer */
.section_footer {
    margin-top: 1px;
    background-color: var(--tb-footer);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content:center;
}

.banner_registration {
    background-color: orange;
    height: 40px;   
    width: 55%;
    display: flex;
    align-items:center;
    justify-content:space-between;
}

.logo-banner{
    background-color: aqua;
    height: 12px;
    width: 35px;
}

.registration-banner{
    background-color: aqua;
    height: 12px;
    width: 35px;
}
/* #endregion banner footer */
